<link rel="stylesheet" href="/css/home.scss">
<body>
  <div class="pimg1">
    <div class="ptext">
      <span class="head_border">
      </span>
    </div>
  </div>

  <section class="section section-light">
    <h2>Orders</h2>
    <p>
     <% @orders.each do |order| %>
      <li>Order ID: <%= link_to "#{order.id}", order_path(order) %></li>
      <li>Qty: <%=order.accessories.count%></li>
      <li>Total: <%=order.total_price%></li>
      <li>Status: <%=order.status%></li>
     <%end%>
    </p>
  </section>
