<h1>Edit trip from: <%= @trip.start_station.name %></h1>

<%= render 'form', trip: @trip, user: current_user %>

<%= link_to "Back to trip from #{@trip.start_station.name}" , admin_trip_path(@trip) %> |
<%= link_to 'Categories Index', admin_trips_path %>
