<ul>
  <li><% @accessory.thumbnail %></li>
  <li><img src="bike_horse.jpg" alt="Bike Horse" ></li>
  <li><%= @accessory.title %></li>
  <li><%= @accessory.description %></li>
  <li><%= @accessory.price %></li>
  <%= button_to "Add to Cart", carts_path(id: @accessory.id), class: "btn btn-danger" %>
</ul>
