<nav>
<% content_for :visitor do %>
  <div class="header">
    <h3><%= link_to "Cart: #{@cart.total_count}", cart_path %></h3>
  </div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <section id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li><a href="/" target="_self">Home</a></li>
      <li><a href="/trips" target="_self">Trips</a></li>
      <li><a href="/stations" target="_self">Stations</a></li>
      <li><a href="/accessories" target="_self">Accessories</a></li>
      <li></li>
      <li><a href="/login" target="_self">Log In</a></li>
      <li><a href="users/new" target="_self">Create Account</a></li>
    </ul>
  </section>
  <% end %>


<% content_for :user do %>
  <div class="header">
    <h3><%= link_to "Cart: #{@cart.total_count}", cart_path %></h3>
  </div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <section id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li><a href="/" target="_self">Home</a></li>
      <% if !current_user.nil? %>
      <li><a href="/users/<%="#{current_user.id}"%>" target="_self">Account</a></li>
      <%end%>
      <li><a href="/trips" target="_self">Trips</a></li>
      <li><a href="/stations" target="_self">Stations</a></li>
      <li><a href="/accessories" target="_self">Accessories</a></li>
      <li></li>
      <li><a href="/login" target="_self">Log In</a></li>
      <li><a href="users/new" target="_self">Create Account</a></li>
    </ul>
  </section>
  <%end%>



</nav>
